@keyframes heart {
  0% {
    transform: scaleY(0);
  }
  25% {
    transform: scaleY(0.25);
  }
  50% {
    transform: scaleY(0.5);
  }
  75% {
    transform: scaleY(0.75);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes charging-in {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes body-in {
  0% {
    transform: translateY(-9999px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes carte-bloc-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.33;
  }
  75% {
    opacity: 0.66;
  }
  100% {
    opacity: 1;
  }
}
@keyframes carte-bloc-plat-in {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  0%, 99% {
    background-color: rgba(255, 121, 218, 0.1);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes bloc-choix {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
body {
  max-width: 767px;
  width: auto;
  margin: auto;
  font-family: "Roboto", sans-serif;
}
body .button-load {
  position: absolute;
  visibility: visible;
  top: 7%;
  left: 44%;
  width: 12%;
  height: 10%;
  max-width: 120px;
  max-height: 100px;
}
body .button-load__charging {
  animation: charging-in 0.8s 4 alternate;
}
body .button-load__charging--1 {
  background: linear-gradient(to top left, #7d34d5, #ff50cf);
  width: 15%;
  height: 18.75%;
  border-radius: 25px;
  animation-delay: 0.1s;
  transform: scale(1);
  opacity: 0;
}
body .button-load__charging--2 {
  background: linear-gradient(to top left, #6a27ba, #ff27c3);
  width: 15%;
  height: 18.75%;
  border-radius: 25px;
  animation-delay: 0.2s;
  transform: scale(1);
  opacity: 0;
}
body .button-load__charging--3 {
  background: linear-gradient(to top left, #562098, #fe00b8);
  width: 15%;
  height: 18.75%;
  border-radius: 25px;
  animation-delay: 0.3s;
  transform: scale(1);
  opacity: 0;
}
body .button-load__charging--4 {
  background: linear-gradient(to top left, #431976, #d5009a);
  width: 15%;
  height: 18.75%;
  border-radius: 25px;
  animation-delay: 0.4s;
  transform: scale(1);
  opacity: 0;
}
body .button-load__charging--5 {
  background: linear-gradient(to top left, #301255, #ac007d);
  width: 15%;
  height: 18.75%;
  border-radius: 25px;
  animation-delay: 0.5s;
  transform: scale(1);
  opacity: 0;
}
body .button-load__charging--6 {
  background: linear-gradient(to top left, #1d0b33, #83005f);
  width: 15%;
  height: 18.75%;
  border-radius: 25px;
  animation-delay: 0.6s;
  transform: scale(1);
  opacity: 0;
}
body .button-load__charging--7 {
  background: linear-gradient(to top left, #0a0411, #5a0041);
  width: 15%;
  height: 18.75%;
  border-radius: 25px;
  animation-delay: 0.7s;
  transform: scale(1);
  opacity: 0;
}
body .button-load__charging--8 {
  background: linear-gradient(to top left, black, #320024);
  width: 15%;
  height: 18.75%;
  border-radius: 25px;
  animation-delay: 0.8s;
  transform: scale(1);
  opacity: 0;
}
body .button-load__charging--1 {
  position: absolute;
  top: 0%;
  right: 42.5%;
}
body .button-load__charging--2 {
  position: absolute;
  top: 10.815%;
  right: 13.5%;
}
body .button-load__charging--3 {
  position: absolute;
  top: 41.63%;
  right: 0%;
}
body .button-load__charging--4 {
  position: absolute;
  top: 70.435%;
  right: 13.5%;
}
body .button-load__charging--5 {
  position: absolute;
  top: 81.25%;
  right: 42.5%;
}
body .button-load__charging--6 {
  position: absolute;
  top: 70.435%;
  right: 71.5%;
}
body .button-load__charging--7 {
  position: absolute;
  top: 41.63%;
  right: 85%;
}
body .button-load__charging--8 {
  position: absolute;
  top: 10.815%;
  right: 71.5%;
}

main {
  animation: body-in 1s 3s backwards;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  margin: auto;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  font-weight: bold;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6em;
  font-weight: normal;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  text-transform: uppercase;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
}

header {
  text-align: center;
  margin-top: 15px;
}

.logo-header {
  width: 40%;
  margin-bottom: 10px;
}

.header-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.form-header {
  background-color: #e4e4e4;
  width: 100%;
  box-shadow: 0px 4px #d8d8d8 inset;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-header i {
  font-size: 150%;
  margin-right: 10px;
}
.form-header p {
  font-weight: bold;
  font-size: 1em;
}

.menu {
  background-color: #f1f1f1;
  padding: 25px 50px 50px 50px;
}
.menu h2 {
  width: 80%;
}

.header-carte__arrow {
  position: relative;
}
.header-carte__arrow i {
  font-size: 200%;
  color: #99E2D0;
  position: absolute;
  top: center;
  left: 5%;
}

footer {
  background-color: #323232;
  color: white;
  margin-bottom: 10px;
  padding: 10px 15px 15px 25px;
}
footer p {
  font-family: "Shrikhand", sans-serif;
}
footer ul {
  list-style: none;
  padding-left: 0px;
}
footer li {
  margin-bottom: 10px;
}
footer li i {
  width: 30px;
}

.fonct {
  margin: 60px 15px;
}

.fonct-bloc {
  font-weight: bold;
  background-color: #f1f1f1;
  border-radius: 25px;
  box-shadow: 4px 4px 4px #d8d8d8;
  display: flex;
  align-items: center;
  position: relative;
  margin: 25px 10px;
  padding: 10px;
}
.fonct-bloc > i {
  color: #727272;
  margin: 30px;
  font-size: 125%;
}
.fonct-bloc__number {
  font-size: 0.8em;
  padding: 0px;
  color: white;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -15px;
}
.fonct-bloc:hover {
  background-color: rgba(147, 86, 220, 0.15);
}
.fonct-bloc:hover i {
  color: #9356DC;
}

.rest {
  background-color: #f1f1f1;
  padding: 40px 20px;
}
.rest a {
  text-decoration: none;
  color: black;
}

.rest-bloc {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 4px 4px 4px #d8d8d8;
  position: relative;
}
.rest-bloc:hover {
  box-shadow: 4px 4px 8px #9356DC;
}
.rest-bloc:hover .rest-bloc__new {
  box-shadow: 4px 4px 8px #4acbab;
}
.rest-bloc img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 10px;
}
.rest-bloc__banner {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 15px 15px;
}
.rest-bloc__new {
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  padding: 0px 15px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.rest-bloc__new p {
  margin: 8px;
}

.rest-bloc__banner--text p {
  margin: 5px 0px;
  padding: 0px;
}
.rest-bloc__banner--text H3 {
  margin: 15px 0px 2px 0px;
  padding: 0px;
}

.rest-bloc__banner--heart .fa-regular {
  font-size: 200%;
  transform: scaleY(1);
  transform-origin: top;
}
.rest-bloc__banner--heart .fa-solid-plat {
  font-size: 200%;
  position: absolute;
  right: 15px;
  bottom: 30px;
  color: #9356DC;
  transform: scaleY(0);
  transform-origin: bottom;
}
.rest-bloc__banner--heart .fa-solid-carte {
  font-size: 200%;
  position: absolute;
  right: 40px;
  top: 37px;
  color: #9356DC;
  transform: scaleY(0);
  transform-origin: bottom;
}
.rest-bloc__banner--heart:hover .fa-regular {
  animation: heart 0s alternate-reverse both;
  transform: scaleY(0);
}
.rest-bloc__banner--heart:hover .fa-solid-plat {
  animation: heart 0.3s backwards;
  transform: scaleY(1);
}
.rest-bloc__banner--heart:hover .fa-solid-carte {
  animation: heart 0.3s backwards;
  transform: scaleY(1);
}

.carte {
  background-color: #f1f1f1;
  padding: 25px 15px;
  margin-top: -50px;
  border-radius: 25px 25px 0px 0px;
  z-index: 1;
  position: relative;
}

.carte__title {
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carte__title h1 {
  font-size: 2em;
  font-weight: normal;
  font-family: "Shrikhand", sans-serif;
  margin: 10px 0px 0px 5px;
}
.carte__title i {
  font-size: 150%;
}

.carte-bloc {
  animation: carte-bloc-in 0.5s both;
}
.carte-bloc--1 {
  animation-delay: 1.5s;
}
.carte-bloc--2 {
  animation-delay: 3s;
}

.carte-bloc__plat {
  background-color: white;
  position: relative;
  height: 60px;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 4px 4px 4px #d8d8d8;
  animation: carte-bloc-plat-in 0.5s 0.4s both;
}
.carte-bloc__plat--1 {
  animation-delay: 0.5s;
}
.carte-bloc__plat--2 {
  animation-delay: 1s;
}
.carte-bloc__plat--3 {
  animation-delay: 1.5s;
}
.carte-bloc__plat--4 {
  animation-delay: 2s;
}
.carte-bloc__plat--5 {
  animation-delay: 2.5s;
}
.carte-bloc__plat--6 {
  animation-delay: 3s;
}
.carte-bloc__plat--7 {
  animation-delay: 3.5s;
}
.carte-bloc__plat--8 {
  animation-delay: 4s;
}
.carte-bloc__plat--9 {
  animation-delay: 4.5s;
}
.carte-bloc__plat--10 {
  animation-delay: 5s;
}
.carte-bloc__plat:hover .carte-bloc__choix--val {
  animation: bloc-choix 0.4s forwards;
  transform: scaleX(1);
}
.carte-bloc__plat:hover .carte-bloc__choix {
  width: 85%;
}

.carte-bloc__choix--val {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 15%;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  transform-origin: right;
}
.carte-bloc__choix--val i {
  color: white;
  font-size: 125%;
}

.carte-bloc__choix {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}
.carte-bloc__choix .prix {
  font-weight: bold;
}

.carte-bloc__text {
  margin-right: 20px;
  width: 80%;
}
.carte-bloc__text h3 {
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.carte-bloc__text p {
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.center-button {
  display: flex;
  justify-content: center;
}

.menu__button {
  margin-top: 15px;
  padding: 20px 25px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  color: white;
  border: none;
  border-radius: 35px;
  font-size: 1.2em;
  box-shadow: 4px 4px 4px #d8d8d8;
}
.menu__button:hover {
  background: linear-gradient(to top left, #ae80e5, #ff93e1);
  box-shadow: 2px 4px 4px #a5a5a5;
}

.carte__button {
  margin-top: 15px;
  padding: 20px 25px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  color: white;
  border: none;
  border-radius: 35px;
  font-size: 1.2em;
  box-shadow: 4px 4px 4px #d8d8d8;
}
.carte__button:hover {
  background: linear-gradient(to top left, #ae80e5, #ff93e1);
  box-shadow: 2px 4px 4px #a5a5a5;
}

/*ENsuite base - layout - pages - components*/

/*# sourceMappingURL=style.css.map */
