.menu__button {
    font-size: 1.2em;
    margin-top: 15px;
    padding: 15px 20px;
    background: linear-gradient(to top left, $color-primary, $color-secondary);
    color: white;
    border: none;
    border-radius: 30px;
}