body {
    max-width: 480px;
    width: auto;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
}
p {
    font-size: 1.1em;
}
