@media all and (min-width : 992px) {
    body {
       max-width: none;
       font-size: 100%;
    }
    h2 {
        text-align: center;
        text-shadow: 1px 1px 1px $color-primary;
    }
    h4 {
        width: 100%;
        text-align: center;
    }
    header {
        padding-top: 10px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(to top left, lighten($color-primary, 25), lighten($color-secondary, 20));
    }
    .form-header {
        background-color: $color-background;
        border-radius: 25px;
        margin-bottom: 25px;
        width: 50%;
    }
    .menu {
        border-radius: 25px;
        margin-bottom: 25px;
    }
    .fonct-bloc {
        width: 28%;
    }
    .fonct {
        box-shadow: 4px 4px 4px lighten($color-primary, 20);
        border-radius: 25px;
        &__flex {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
    .rest {
        border-radius: 25px;
        width: 95%;
        box-shadow: 4px 4px 4px lighten($color-primary, 20);
        margin-bottom: 25px;
    }
    .rest h2 {
        text-align: left;
        margin-bottom: 25px;
        text-decoration: underline;
    }
    .rest-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        padding-bottom: 10px;
        border-bottom: 3px solid $color-primary;
    }
    .rest-right {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        }
        .rest-bloc {
        width: 50%;
        margin-top: 30px;
        margin-bottom: 0px;
        }
    .rest-desktop__hidden {
        visibility: visible;
        width: 40%;
        height: 250px;
        background: linear-gradient(to top left, lighten($color-primary, 25), lighten($color-secondary, 25));
        border-radius: 15px;
        padding: 25px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 150%;
        & div {
            width: 80%;
            text-align: center;
        }
         &--title {
            text-shadow: 1px 1px 1px $color-secondary;
            text-decoration: underline;
        }
    }
    .carte-bloc__plat {
        height: auto;
        padding-bottom: 0px;
        padding-top: 15px;
        margin-bottom: 15px;
        &:hover {
            & .carte-bloc__choix {
                width: 100%;
            }
        }
    }
    .carte-bloc__choix {
        flex-direction: column;
        text-align: center;
        height: auto;
        & .carte-bloc__text {
            width: 100%;
        }
    }
    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}