.fonct {
    margin: 60px 15px;
}
.fonct-bloc {
    font-weight: bold;
    background-color: $color-background;
    border-radius: 25px;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    position: relative;
    margin: 25px 10px;
    padding: 10px;
    & > i {
        color: darken($color-background, 50);
        margin: 30px;
        font-size: 125%;
    }
    &__number {
        font-size: 0.8em;
        padding: 0px;
        color: white;
        background-color: $color-primary;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -15px;
    }
    &:hover {
        background-color: rgba($color: $color-primary, $alpha: 0.15);
        & i {
            color: $color-primary;
        }
    }
}