/*Heart coming*/
@keyframes heart {
    0% {
        transform: scaleY(0);
    }
    25% {
        transform: scaleY(0.25);
    }
    50% {
        transform: scaleY(0.5);
    }
    75% {
        transform: scaleY(0.75);
    }
    100% {
        transform: scaleY(1);
    }
}
/*loading animation*/
@keyframes charging-in {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
/*body arrived animation*/
@keyframes body-in {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}
/*animation of the menu*/
@keyframes carte-bloc-in {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0.33;
    }
    75% {
        opacity: 0.66;
    }
    100% {
        opacity: 1;
    }
}
@keyframes carte-bloc-plat-in {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    0%, 99% {
        background-color: rgba($color-secondary, $alpha: 0.1);  
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes bloc-choix {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
@keyframes rotate-valide {
    0% {
        transform: rotate(0turn);
    }
    25% {
        transform: rotate(0.25turn);
    }
    50% {
        transform: rotate(0.5turn);
    }
    75% {
        transform: rotate(0.75turn);
    }
    100% {
        transform: rotate(1turn);
    }
}