$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-background: #f1f1f1;

$box-shadow: 4px 4px 4px darken($color-background, 10);

$anim-dur:0.8s;
$num_charging: 8;
$anim-delay: $anim-dur / $num-charging;
$anim-plat: 0.5s;